---
interface Props {
  formId: string
  title?: string
  height?: string
  class?: string
}

const { formId, height = '1726px', class: className = '' } = Astro.props
---

<!-- Preconnect para melhor performance -->
<link rel="preconnect" href="https://api.gsh.digital">
<link rel="dns-prefetch" href="https://api.gsh.digital">
<link rel="preconnect" href="https://backend.leadconnectorhq.com">

<div 
  class={`highlevel-form-wrapper ${className}`}
  style={`min-height: ${height};`}
>
  <iframe
    src={`https://api.gsh.digital/widget/form/${formId}`}
    style="width: 100%; min-height: 100%; border: none;"
    id={`inline-${formId}`}
    data-layout="{'id':'INLINE'}"
    data-trigger-type="alwaysShow"
    data-trigger-value=""
    data-activation-type="alwaysActivated"
    data-activation-value=""
    data-deactivation-type="neverDeactivate"
    data-deactivation-value=""
    data-form-name="Diagnóstico 6Ps - Joel Burigo"
    data-height={height}
    data-layout-iframe-id={`layout-inline-${formId}`}
    data-form-id={formId}
    title="Formulário de Diagnóstico"
  ></iframe>
</div>

<script is:inline src="https://api.gsh.digital/js/form_embed.js" type="text/javascript"></script>

<style>
  .highlevel-form-wrapper {
    position: relative;
    width: 100%;
    overflow: visible;
    background: transparent;
  }
  
  .highlevel-form-wrapper iframe {
    display: block;
    min-height: 1726px;
  }
</style>

